

<h1>Bienvenido</h1>
<form asp-action="Logout">
            <div class="form-group">
                <input type="submit" value="Salir" class="btn btn-primary mt-4" />
            </div>
        </form>